@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .actions-dropdown {
    position: absolute;
  }

  .container {
    max-width: 1250px;
  }
}

section {
  place-content: center;
}

button {
  font-size: 0.89rem;
  line-height: 15px;
}

td {
  padding: calc(var(--spacing) / 3) var(--spacing);
}

table {
  font-family: "Courier New", Courier, monospace;
}

:not(thead, tfoot) > * > td {
  --font-size: 0.85rem;
}

aside {
  display: grid;
  grid-template-rows: 50% 50%;

  & section,
  & ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  & > ul > li > button {
    margin-bottom: 0;
  }
}

.apps {
  display: flex;
  justify-content: center;

  & > div:not(#home, #browse, #liquidate, #approve, #dashboard) {
    width: 900px;
  }
}

input:invalid {
  background-image: var(--icon-invalid);
  padding-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--form-element-spacing-horizontal);
  webkit-padding-start: var(--form-element-spacing-horizontal);
  webkit-padding-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-inline-start: var(--form-element-spacing-horizontal);
  padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
  border-color: var(--form-element-invalid-border-color);
  box-shadow: none;
}

[aria-busy="true"]:not(input, select, textarea):empty {
  font-size: 50px;
  color: #168cf2;
  place-items: center;
  place-content: center;
}

/*
[data-theme="dark"] caption {
  background: #273642;
}

[data-theme="light"] caption {
  background: #f4f4f4;
}

[data-theme="dark"] .applet {
  background: #202d37;
}

[data-theme="light"] .applet {
  background: #f4f4f4;
}
*/

#prompt-box-confirm {
  display: none;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-items: center;
  text-align: center;
  position: absolute;
  height: auto;
  width: 500px;
  background-color: aliceblue;
  border: 2.5px dashed #6791d1;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 30%;
  padding: 15px;
  z-index: 3;

  & p {
    margin-bottom: 10px;
    color: #333;
  }
}

#prompt-box-confirm-content {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #333;
}

#prompt-box-confirm-btns {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

#prompt-box-response {
  color: #333;
  display: none;
  grid-template-rows: 80% 10%;
  align-items: center;
  justify-items: center;
  text-align: center;
  position: absolute;
  height: auto;
  width: 380px;
  background-color: aliceblue;
  border: 2.5px dashed #6791d1;
  right: 0;
  left: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;

  & p {
    margin-bottom: 10px;
    color: #333;
  }

  & > button {
    width: 60%;
  }
}

#header-goto-btns button {
  line-height: 1px;
}

#wallet {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  background-color: #1095c1;
  position: absolute;
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  border-radius: 5px;

  & * {
    margin: 0;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

#info {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

#prices {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;

  & a {
    color: #8ec2ce;
  }
}

.switch-offer-type > button {
  width: 25%;
}

.offers-table-nav > button {
  width: 20%;
}

.divide-two {
  display: grid;
  column-gap: 10px;
  margin-bottom: 0px;
  grid-template-columns: 50% 50%;
}

.applet {
  width: 95%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid aliceblue;
}

#header-goto-btns > ul > li {
  list-style: none;
  margin-bottom: 0;
  padding: 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.grid {
  grid-auto-flow: column;
}

.actions-dropdown {
  & li {
    list-style: none;
  }

  & button {
    line-height: 1px;
    margin: 0;
  }

  margin: 5px 0 0;
  padding: 5px 0 0;
  background-color: #1095c1;
}

.token-dropdown-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: var(--contrast);
  font-family: "Courier New", Courier, monospace;
}

.token-dropdown {
  position: relative;

  & summary {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  & img {
    height: 25px;
    width: 25px;
  }
}

.token-dropdown-wrapper {
  width: 100%;
  position: absolute;
  padding: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  z-index: 2;
}

.token-dropdown button {
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 5px;

  & img {
    height: 25px;
    width: 100%;
  }
}

.td-token-logo {
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  column-gap: 10px;

  & img {
    width: 18px;
    height: 20px;
  }
}

.td-token-logo-collateral {
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  column-gap: 10px;

  & a {
    text-align: center;
    text-decoration: none;
  }

  & img {
    width: 18px;
  }
}

// box-shadow: 0px 0px 3px 3px #f4f4f4; z-index: 3
